<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKILh_k8WIOIn9z4qDbOPju3n-ZFf-1ZU</string>
	<key>GCM_SENDER_ID</key>
	<string>229118905321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Master-Calculation</string>
	<key>PROJECT_ID</key>
	<string>calculator-6b512</string>
	<key>STORAGE_BUCKET</key>
	<string>calculator-6b512.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229118905321:ios:1043ab5545adbcf8849978</string>
</dict>
</plist>